# Jekyll configuration
#markdown: redcarpet
#highlighter: pygments
markdown: kramdown
highlighter: rouge
paginate: 5
language: 'en-uk'

# Website info
name: 'The show must go on.'
description: 'Logs of a newbie developer'

# Author's info
author: 'Gunwoo Kim'
# edit 'categories' in the front matter of every post to match this username
nickname: gunwooterry
bio: 'Undergraduate Student at KAIST'
location: 'Daejeon, South Korea'
url: 'http://gunwooterry.github.io'
image: 'assets/images/profile.jpg'

short_url: 'gunwooterry.github.io'
google_analytics: UA-69281367-1
disqus: username
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /

# Permalinks
permalink: /:title
  # author: /author/:username
  # tag: /tag/:tag


# gems and other configs
gems: [jekyll-paginate]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: false
lsi: false
username: gunwooterry
repo: gunwooterry.github.io
branch: master
relative_source:  ./
destination:      ./pages/
production_url:   https://gunwooterry.github.io/
source_url:       https://github.com/gunwooterry/gunwooterry.github.io/

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - changelog.md
  - "*.Rmd"
  - vendor
  - .travis.yml
